<div class="container-fluid">

	<!-- Nuevo Layout-->

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ul class="list-unstyled">
				<li class="cabecera">Listato Categorias</li>
				<li class="item-lista enlace"  *ngFor="let categoria of _categorias" (click)="RowEdit_Click(categoria)">						
					<div class="contenedor">
						<div class="descripcion">
							<span class="bloque text-primary "><strong>{{categoria.id}} - {{categoria.nombre}}</strong></span>
							<!--<span clss="bloque">P.V.P : 10€ Kg / I.V.A : 10%</span>-->
						</div>

						<div class="enlaces">
							<span class="glyphicon glyphicon-chevron-right text-primary"></span>							
						</div>
					</div>			
				</li>
				<li class="boton borde">
					<span (click)="MostrarFormAlta()">Añadir Categoria...</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- Fin Layout-->

	<!--<div class="panel panel-default">
		
		<div class="panel-heading">
			<h4 class="text-primary">Listado de Categoria</h4>
		</div>

		<div class="panel-body">

			
			<div class="row">
				<div class="col-lg 12 col-md-12 col-sm-12 col-xs-12">	
					<div class="table-responsive">	
						<table class="table table-hover">
							<thead>
								<th>Id</th>
								<th>Categoria</th>						
							</thead>

							<tbody>
								<tr *ngFor="let categoria of _categorias" 
									(click)="RowEdit_Click(categoria) ">
									<td>{{categoria.id}}</td>
									<td>{{categoria.nombre}}</td>												
								</tr>
							</tbody>

						</table>		
					</div>
				</div>
			</div>
			

			
		</div>

		<div class="panel-footer">
			<button id="HtmlBtnAlta" class="btn btn-primary" 
				(click)="MostrarFormAlta()">Alta Categoria</button>
		</div>
	</div>-->

	<app-det-categoria (EventActualizarGrid)="ActualizarGrid($event)"></app-det-categoria>
</div>