<div class="container-fluid">

	<!-- Nuevo Layout-->

	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ul class="list-unstyled">
				<li class="cabecera bg-primary">Listass Categorias</li>
				<li class="item-lista enlace"  *ngFor="let categoria of _categorias" (click)="RowEdit_Click(categoria)">						
					
						<div class="descripcion">
							
								<div class="info">
										<span class="text-primary "><strong>{{categoria.id}} - {{categoria.nombre}}</strong></span>			
										<div class="bloque">P.V.P: 12,87€ / I.V.A: 10%</div>		
								</div>

							<div class="enlaces">
									<span class="glyphicon glyphicon-chevron-right text-primary"></span>							
							</div>

						</div>

						
							
				</li>
				<li class="boton borde bg-primary ">
					<span (click)="MostrarFormAlta()">Añadir Categoria...</span>
				</li>
			</ul>
		</div>
	</div>



	<app-det-categoria (EventActualizarGrid)="ActualizarGrid($event)"></app-det-categoria>
</div>