
	<div class="row" [ngClass]={mostrar:_MostrarListado,ocultar:!_MostrarListado}>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	
						
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<ul class="list-unstyled">
							<li class="cabecera bg-primary">Listas Productos</li>
							<li class="buscador">
								<div class="input-group">									
									<input class="form-control" type="text" id="HtmlTxtProducto"  name="HtmlTxtProducto"
									[(ngModel)]="HtmlTxtProducto" placeholder="Teclee Id / Producto">
									<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
								</div>

							</li>
							<li class="item-lista enlace" *ngFor="let producto of _productos|pipeProductos:HtmlTxtProducto;let i=index" (click)="EditRow_Click(producto.id)">						
								<div class="contenedor">
									<div class="descripcion">										
										
										<div class="info">
												<span class="text-primary "><strong>{{producto.id}} - {{producto.nombre}}</strong></span>			
												<div class="bloque">P.V.P : {{producto.pvp}}€<span *ngIf="producto.fresco==true">/Kg</span>
													/ I.V.A : {{producto.iva}}%
												</div>		
										</div>

										<div class="enlaces">
												<span class="glyphicon glyphicon-chevron-right text-primary"></span>							
										</div>
										
									</div>
			
									
								</div>			
							</li>
							<li class="boton borde bg-primary">
								<span (click)="MostarFormulario()">Añadir Producto...</span>
							</li>
						</ul>
					</div>
				</div>
			
								
		</div>
	</div>

	<app-det-producto (EventActualizarGrid)="ActualizarGrid($event)"></app-det-producto>

	
													

