<div bsModal #childModal="bs-modal" tabindex="-1" class="modal fade">
  
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-primary">
              <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"><h4 class="modal-title">{{Cabecera}}</h4></div>   
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">  
                        <div class="cursor" (click)="onShowCart_Click()">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            <span class="badge">{{_NumProductos}}</span>  
                        </div>                                                                                 
                    </div>              
                </div>
            </div>

          <div class="modal-body">
              <div class="text-center">{{Mensaje}}</div>
              
              <div class="row" style="margin-bottom:1em">                
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class='input-group'>
                                <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-search text-primary"></span>
                                </span>
                            <input type="search" name="HtmlProducto" class="form-control" placeholder="Id / Producto" [(ngModel)]="HtmlProducto" />
                        </div>                      
                  </div>                     
              </div>

              <form #listProd="ngForm" (ngSubmit)="onSubmit(listProd.value)" >

              <ul class="list-unstyled">
				
                    <li class="item-lista" *ngFor="let producto of _Productos|pipeProductos:HtmlProducto;let i=index" >						
                        
                            <div class="descripcion">
                                    <div class="cantidad">														
                                            <input type="number" name="pro_{{producto.id}}"  step="1" min="0" max="99"  class="form-control text-center"
                                            (input)="onInput($event)"  (value)="producto.cantidad" [attr.data-id]="producto.id"  #cantidad [(ngModel)]="producto.cantidad" />
                                    </div>
    
                                    <div class="info">
                                        <span class="text-primary "><strong>{{producto.id}} - {{producto.nombre}}</strong></span>			
                                       <div class="bloque">P.V.P : {{producto.pvp}}€<span *ngIf="producto.fresco==true">/Kg</span>
                                            / I.V.A : {{producto.iva}}%
                                        </div>
                                    </div>
    
                                    <div class="enlaces text-primary text-md">                                        
                                        {{producto.importe}} €
                                    </div>
                            </div>													
                    </li>				
                </ul>


              </form>

          </div>

          <div class="modal-footer">            
            <button type="button" class="btn btn-default" (click)="BtnCancelar_Click()" >Cancelar</button>
          </div>
        
      </div>
  </div>
</div>
