	
	<div class="row">
		<div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
			<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate=true class="form-vertical">
			  <div class="login">		  		   
			       	<div class="glyphicon glyphicon-user ico-user"></div>  
			       	
			       <!--<p class="text-danger">Datos obligatorios</p>-->    
			       
			       	  	<div class="form-group">  			       	  	    				          					            	
				            	<div class='input-group'>
									<span class="input-group-addon">@</span>
										<input type="email" name="email" ngModel class="form-control" 
										placeholder="Correo Electr&oacute;nico" autofocus required />
								</div>
						</div>
			          <div class="form-group"> 
			          	<div class='input-group'>
			          		<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>         
							<input type="password" class="form-control" ngModel name="password" required
							 placeholder="Clave" />
			            </div>
					  </div>
					 
			          <div class="form-group">
						  <input type="submit" class="btn btn-primary btn-block" value="Enviar" (click)="enviar()"/>			          	
			          </div>			         			        
			  </div>
			</form>
		</div>
	</div>


