<div bsModal #childModal="bs-modal" tabindex="-1" class="modal fade">
  
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-danger">
              <h4 class="modal-title">Eliminar</h4>
          </div>

          <div class="modal-body">
              <div class="text-center">{{Mensaje}}</div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="BtnAcetar_Click()">Aceptar</button>
            <button type="button" class="btn btn-default" (click)="BtnCancelar_Click()" >Cancelar</button>
          </div>

      </div>
  </div>
</div>
